<app-header (switchView)="switchView($event)"></app-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <app-recipes *ngIf="recipe" (recipeSelected)="onRecipeSelected($event)"></app-recipes>
            <app-shopping-list *ngIf="shoppingList"></app-shopping-list>
		</div>
		
	</div>
</div>
